// blog header style
.blogHeader {
    height: 50vh;
    background-image: url(../../assets/blog-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    h1 {
        position: absolute;
        bottom: -40px;
    }
}

//Blog section style
.blogSectionOne {
    padding-top: 100px;
}

.asideSection {
    width: calc(30% - 40px);
    margin-right: 40px;
    h3 {
        font-size: 1.2rem;
    }
}

.aboutHarper,
.recentPost,
.blog,
article {
    background-color: $white;
    padding: 40px;
    margin-bottom: 20px;
}

.aboutHarper {
    height: 600px;
    margin-bottom: 40px;
    h3 {
        margin-top: 20px;
    }
}

.recentPost {
    height: 300px;
    h3 {
        margin-top: 10px;
    }
}

.blogDisplay {
    width: 70%;
}

.blogWrap {
    display: flex;
}

.blog,
article:last-child {
    border-bottom: 5px solid $primary1;
}

//comment section styling

article {
    display: flex;
    .profilePic {
        width: 15%;
    }
}

.comment {
    width: calc(85% - 20px);
    margin-left: 20px;
}

//form styling
