// general stripping and img sizing
html {
    font-size: 125%;
    color: $black;
}

nav,
ul,
a,
h1,
h2,
h3,
form,
button,
li {
    margin: 0;
    padding: 0;
}

nav,
h1,
h2,
h3,
form,
button,
input[type="submit"] {
    font-family: $headerFont;
}

h1,
h2,
h3,
input[type="submit"],
button {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blogHeader h1,
.contactHeader h1 {
    line-height: 92px;
    font-size: 4rem;
}

img {
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%
}

body {
    font-family: $bodyFont;
    letter-spacing: 0;
    line-height: 32px;
}

nav ul li {
    list-style: none;
    a {
        text-decoration: none;
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

//general styles for main
.mainSectionOne,
.mainSectionTwo,
.mainSectionFour,
.blogSectionOne {
    background-color: $primary4;
}

.mainSectionThree,
.mainSectionFive {
    background: $white;
}

//button style
button,
input[type="submit"] {
    padding: 10px 30px;
    border: 1px transparent solid;
    background: $black;
    color: $accent;
    line-height: 32px;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: $accent;
    color: $black;
}

