// Header Styles
.mainHeader {
    height: 70vh;
    background-color: $primary3;
    nav {
        height: 10vh;
            ul {
                height: 100%;
                width: 50%;
                display: flex;
                margin: 0 auto;
                text-align: center;
                justify-content: space-around;
                align-items: center;
            }
    }
}

.mainHeader h2 {
    font-size: 2.1rem;
}

h1 {
    font-size: 7rem;
    position: relative;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
        .title {
            position: relative;
            margin-right: 200px;
                .titleImg {
                    width: 150px;
                    position: absolute;
                    top: -35px;
                    right: -40px;
                }
        }
}

.headerImg {
    width: 35%;
    position: relative;
    top: 50px;
    box-shadow: 20px 20px 0 0 $white;
}

// Section One styling
.mainSectionOne,
.sectionOneFlex {
    height: 40vh;
}

.sectionOneFlex {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    align-items: flex-start;
    justify-content: space-evenly;
        h2 {
            margin-top: 50px;
        }
        button {
            margin-bottom: 50px;
        }
}

//Section Two Styling
.mainSectionTwo,
.sectionTwoFlex {
    height: 60vh;
}

h3 {
    font-size: 1.6rem;
}

.sectionTwoFlex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}
.sectionTwoContent {
    width: calc(50% - 200px);
    position: relative;
    margin-left: 100px;
    margin-right: 50px;
}

.sectionTwoContent:nth-child(even) {
    margin-right: 0;
}

.icon {
    position: absolute;
    left: -75px;
    top: 0;
    i {
        border-radius: 50%;
        background-color: $primary3;
        padding: 10px;
    }
}

// Section Three Styling
.mainSectionThree,
.sectionThreeFlex {
    height: 90vh;
}

.sectionThreeFlex {
    display: flex;
    flex-wrap: wrap;
    img, 
    .textContainer {
        width: 50%;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.third,
.fourth {
    margin-top: 50px;
}

.first {
    order: 0;
    position: relative;
    top: -30px;
}

.second {
    padding-left: 100px;
}

.third {
    order: 4;
    position: relative;
    bottom: -30px;
}

.fourth {
    padding-right: 100px;
    button {
        align-self: flex-end;
    }
}

.mainSectionThree  {
    position: relative;
}

.imgOneShadow,
.imgTwoShadow {
    width: 51%;
    height: 45%;
    position: absolute;
}

.imgOneShadow {
    background-color: $primary2;
    top: 0px;
}

.imgTwoShadow {
    background-color: $primary3;
    right: 0;
    top: 60%;
    width: 49%;
}

// side note, probably has to do more with before/after elements on img being in div container. Could not figure it out as however


//Section Four Styling

.mainSectionFour {
    height: 50vh;
}

.mainSectionFour img {
    width: 25%;
}